* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #191a1c;
}

h1 {
    color: white;
}

p {
    color: white;
}

h3 {
    color: white;
}

.panel {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 131px;
    background-color: #272b30;
    border-radius: 2px;
    margin-right: 25px;
}
  
.paneltitle {
    color: white;
}
  
.paneltext {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
  
.paneltags {
    display: flex;
    margin-top: -1vw;
}
  
.tag {
    font-size: 9px;
    margin-right: 12px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #4f4f4f;
    border-radius: 8px;
    background-color: #4f4f4f;
    white-space: nowrap;
}
  
.paneldesc {
    margin-top: -0.025vh;
    width: fit-content;
}

.panelimage {
    min-height: 100%;
    width: 85px;
    object-fit: cover;
}

#search-terms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}