* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #191a1c;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

p {
    color: white;
}

h3 {
    color: white;
}

#search-terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    display: flex;
    background-color: #434343;
    width: 700px;
    margin-right: 50px;
}

.panelimage {
    min-height: 100%;
    width: 85px;
    object-fit: cover;
}

.paneltext {
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.paneltitle {
    color: white;
}

.paneltags {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.paneltags .tag {
    background-color: #5e5e5e;
    color: white;
    margin-right: 25px;
    white-space: nowrap;
}

.paneldesc {
    color: white;
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
}